/*Czcionka roboto regular*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*Czcionka roboto bold*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.h1 {
  font-size: 36px;
  width: 577px;
  margin-bottom: 40px;
  font-weight: 700;
}
.h2 {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 700;
}
.h2_2 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
}
.h2_3 {
  font-size: 36px;
  margin-bottom: 82px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
h3 {
  font-weight: bold;
  margin-top: 10px;
}
section {
  padding: 60px 0;
}
.container {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 10px;
}
.section_1 {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(koncert1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.img {
  border-radius: 50%;
}
.nav_bar {
  display: flex;
  align-content: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  font-weight: bold;
  background-color: rgba(83, 82, 82, 1);
  z-index: 2;
}
.nav {
  font-weight: 100;
  display: none;
  justify-content: flex-start;
}
.nav > li {
  margin: 0 20px;
}
.shade {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
}
.between {
  justify-content: space-between;
}
.headers_s1 {
  display: flex;
  flex-direction: column;
}
.white {
  color: white;
}
.margin_top {
  margin-top: 50px;
}
.employee {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.col {
  flex-direction: column;
}
.img {
  width: 197px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_p1 {
  background-image: url(pracownik_1.jpg);
}
.img_p2 {
  background-image: url(pracownik_2.jpg);
}

.description {
  width: 75%;
}
.blue {
  background-color: #405d78;
}
.services {
  display: grid;
  grid-template-columns: 339px;
  grid-template-rows: 330px 330px 330px 330px 330px 330px;
  gap: 63px;
  justify-content: center;
  align-content: center;
}
.services > div {
  display: flex;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  padding: 5px;
  transition-duration: 0.5s;
  transition-property: all;
}
footer {
  display: flex;
  align-content: center;
  background-color: rgba(83, 82, 82, 1);
  padding: 71px;
}
#footer {
  align-items: center;
}
i {
  font-size: xx-large;
  margin-left: 10px;
}
.button_offer {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  width: 164px;
  height: 40px;
  text-align: center;
  font-size: medium;
  transition-duration: 1s;
  transition-property: all;
}
html {
  scroll-behavior: smooth;
}
a:link,
a:visited,
a:hover,
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.button_offer:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.disabled:hover {
  cursor: not-allowed;
}
.services > div:hover {
  transform: scale(1.05);
}
#new {
  position: relative;
  padding-top: 10px;
}
#new::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  background-color: rgb(233, 100, 100);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .services {
    grid-template-columns: 339px 339px;
    grid-template-rows: 330px 330px 330px;
  }
  .nav {
    display: flex;
  }
  .employee {
    flex-direction: row;
  }
  .employee:nth-child(even) {
    flex-direction: row;
    text-align: left;
  }
  .employee:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }
  #footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
  .services {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px;
  }
}
